.env
*.secret
.DS_Store
explorer-backend/[0-9]*
**/__pycache__/*
**/.pytest_cache/*
.stignore

# Local test db connection settings
**/local.py

# Ignore local top-level docker-compose.yml
/docker-compose.yml

# Editor settings
.vscode
*.code-workspace
*.sublime*
